<div class="row">
  <div class="col-md-3" id="leftCol">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Resources</h3>
      </div>
      <ul class="nav nav-stacked" id="sidebar">
        <li><%= link_to 'README', :controller => 'api_docs', :action => 'index', :category => nil %></li>
        <li><%= link_to 'Me', :controller => 'api_docs', :action => 'index', :category => 'me' %></li>
        <li><%= link_to 'Users', :controller => 'api_docs', :action => 'index', :category => 'users' %></li>
        <li><%= link_to 'Syntax', :controller => 'api_docs', :action => 'index', :category => 'syntax' %></li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-file"></span>
          <%= @category.upcase %>.md</h3>
      </div>
      <div class="panel-body">
        <%= markdown(File.read(Rails.root.join('doc', 'api', "#{@category}.md"))) %>
      </div>
    </div>
  </div>
</div>